<!DOCTYPE html>
<html>
    <head>
        <title>intramural sports</title>
        <meta charset="UTF-8">
        <meta description = "website used to display a hub for people interesting in joing or creating sport events">
    </head>
    <body>
        <h1>About page</h1>
        <nav>
            <a href="{{url_for('index', username=username)}}">index</a>
        </nav>

        <!-- table of user information-->
        <table>
            <caption> Users info </caption>
            <tr>
                <th>name</th> <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>username</th> <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>password</th> <td>{{user.password}}</td>
            </tr>
            <tr>
                <th>email</th> <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>role</th> <td>{{user.role}}</td>
            </tr>
        </table>

        <!-- form that allows to change user stats ACCEPT their username-->
        <section class="optional">
            <h2>Change info</h2>
            <p>select any to apply</p>
            <form method="POST" action="{{url_for('about',username=username)}}">
            <label for="fname"> First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name: </label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="pass">password: </label><br>
            <input type="password" id="pass" name="pass"><br>
            <label for="mail">email: </label><br>
            <input type="text" id="mail" name="mail"><br> 
            <button type="submit" name="sign" value="sign">change</button>
            </form>
        </section>
    </body>
</html>