<!DOCTYPE html>
<html>
    <head>
        <title>intramural sports</title>
        <meta charset="UTF-8">
        <meta description = "website used to display a hub for people interesting in joing or creating sport events">
    </head>
    <body>
        <h1>Events page</h1>
        <nav>
            <a href="{{url_for('index', username=username)}}">index</a>
        </nav>

        <table>
            <thead>

                <caption>Active Events</caption>
                <tr>
                    <th>Event</th>
                    <th>Team</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for row in current_events %}
                <tr>
                    <td>{{row.event}}</td>
                    <td>{{row.team}}</td>
                    <td>{{row.date}}</td>
                    <td>{{row.location}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <caption>Joinable events</caption>
                <tr>
                    <th>Event ID</th>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for row in joinable_events %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.date}}</td>
                    <td>{{row.location}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--form to join event-->
        <section class="joinEvent">
            <h2>Join event</h2>
            <form method="post" action="{{url_for('events',username=username)}}">
                <label for="eventIDE">Enter Event ID:</label>
                <input type="number" id="eventIDE" name="eventIDE">
                <button type="submit" name="enterJoin" value="enterJoin">enter</button>
            </form>
            
            <!--user has to pick a team to join event-->
            {% if no_team %}
            <h3>Join or Create Team</h3>
            <table>
                <thead>
                    <caption>available teams</caption>
                    <tr>
                        <th>Team ID</th>
                        <th>Team name</th>
                        <th>size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{team.id}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.size}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!--join team in event-->
            <h4>Join Team</h4>
            <form method="POST" action="{{url_for('events', username=username)}}">
                <label for="teamIDE">Enter Team ID:</label>
                <input type="number" id="teamIDE" name="teamIDE">
                <button type="submit" name="enterTeam_j" value="enterTeam_j">join</button>
            </form>

            <h4>Create Team</h4>
            <form method="POST" action="{{url_for('events', username=username)}}">
                <label for="tName">Team name</label>
                <input type="text" id="tName" name="tName">
                <button type="submit" name="enterTeam_c" value="enterTeam_c">create</button>
                
            </form>
            {% endif %}
        </section>

        <!--form to leave event-->
        <section class="leaveEvent">
            <h2>Leave event</h2>
            <form method="post" action="{{url_for('events',username=username)}}">
                <label for="eventIDL">Enter Event ID:</label>
                <input type="number" id="eventIDL" name="eventIDL">
                <button type="submit" name="leave" value="leave">leave</button>
            </form>
        </section>
    </body>
</html>