<!DOCTYPE html>
<html lang="en">
    <head>
        <title>intramural sports</title>
        <meta charset="UTF-8">
        <meta description = "website used to display a hub for people interesting in joing or creating sport events">
        <!--- add later: viewport handling for mobile devices-->
        <!-- add later: stylesheets for design-->
    </head>

    <body>
        <h1>Intramural sports application</h1>
        <form method="post" action="{{url_for('homepage')}}">
            <label for="user">username:</label>
            <input type = "text" name = "username" required>
            <label for ="pass">password: </label>
            <input type="password" name="password" required>
            <button type ="submit" name = "action" value="login">login</button>
            <button type="submit" name = "action" value="signup">signup</button>
        </form>

        {% if error %}
            <p style="color : red;">{{error}}</p>
        {% endif %}
    </body>

</html>