<!DOCTYPE html>
<html lang="en">
    <head>
        <title>intramural sports</title>
        <meta charset="UTF-8">
        <meta description = "website used to display a hub for people interesting in joing or creating sport events">
        <!--- add later: viewport handling for mobile devices-->
        <!-- add later: stylesheets for design-->
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>

    <body>
        <header>
            <h1>Intramural Sports</h1>
            <nav>
                <a href="about.html">about</a>
                <a href="events.html">events</a>
            </nav>

        </header>

        <section>
            <h2>Welcome {{name}} !</h2>
        </section>

        <main>
             <!-- add data about teams here-->
            <table>
                <caption>User status</caption>
                <thead>
                    <tr>
                        <th>events</th>
                        <th>teams</th>
                        <th>date</th>
                        <th>location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{row.event}}</td>
                        <td>{{row.team}}</td>
                        <td>{{row.date}}</td>
                        <td>{{row.location}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

    </body>

</html>