<!DOCTYPE html>
<html lang="en">
    <head>
        <title>intramural sports</title>
        <meta charset="UTF-8">
        <meta description = "website used to display a hub for people interesting in joing or creating sport events">
        <!--- add later: viewport handling for mobile devices-->
        <!-- add later: stylesheets for design-->
    </head>

    <body>
        <h1>index page</h1>
        <h2>Welcome {{name}} !</h2>

        <h3>Current Teams</h3>
        <!-- add data about teams here-->

        <nav>
            <a href="about.html">about</a>
            <a href="events.html">events</a>

        </nav>
    </body>

</html>